Flask==3.0.0
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.31.0

google-api-python-client==2.104.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

# dodatne knjižnice, ki so varne in priporočljive:
Werkzeug==3.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
